<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/css/uikit.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/js/uikit-icons.min.js"></script>
    <title>Directorio del flujo</title>
    <style>
        /* Style buttons */

        .buttonload {
            background-color: #4CAF50; /* Green background */
            border: none; /* Remove borders */
            color: #00aeef; /* White text */
            padding: 12px 16px; /* Some padding */
            font-size: 35px /* Set a font size */
        }
    </style>
    <script language="javascript">
        function doSearch() {
            var tableReg = document.getElementById('datos');
            var searchText = document.getElementById('searchTerm').value.toLowerCase();
            var cellsOfRow = "";
            var found = false;
            var compareWith = "";

            // Recorremos todas las filas con contenido de la tabla
            for (var i = 1; i < tableReg.rows.length; i++) {
                cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
                found = false;
                // Recorremos todas las celdas
                for (var j = 0; j < cellsOfRow.length && !found; j++) {
                    compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                    // Buscamos el texto en el contenido de la celda
                    if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1)) {
                        found = true;
                    }
                }
                if (found) {
                    tableReg.rows[i].style.display = '';
                } else {
                    // si no ha encontrado ninguna coincidencia, esconde la
                    // fila de la tabla
                    tableReg.rows[i].style.display = 'none';
                }
            }
        }
    </script>
</head>

<body>
<div class="panel panel-default">
    <div class="panel-body"></div>

    <div class="right_col" role="main" data-layout-fragment="content">
        <div class="">
            <div class="row">

                <!--Inicio Mensaje de Alerta-->
                <div class="clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content bs-example-popovers">
                            <div class="alert alert-danger alert-dismissible fade in" role="alert"
                                 data-th-if="${mensaje}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span>
                                </button>
                                <span class="glyphicon glyphicon-exclamation-sign"></span> <strong>Error
                            </strong>
                                <hr class="message-inner-separator">
                                <p data-th-text="${mensaje}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin Mensaje Alerta-->

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="height: 50px;">
                                        <h3>Flujos
                                            <small>/ Destino Carpeta</small>
                                        </h3>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!--Inicia tabla-->
                            <table id="datos" class="uk-table uk-table-divider">
                                <form>
                                    Buscar:
                                    <input id="searchTerm" class="form-control" type="text" style="width: 300px"
                                           autocomplete="off" onkeyup="doSearch()"/>
                                </form>
                                <thead>
                                <tr>
                                    <th>Nombre Wf</th>
                                    <th>Directorio</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-th-each="flowsDirectory : ${getFlowsInDirectory}">
                                    <td data-th-text="${flowsDirectory.name}"></td>
                                    <td data-th-text="${flowsDirectory.directory}"></td>
                                    <td>
                                        <a
                                                data-toggle="tooltip" title="Ver Archivos"
                                                data-th-href="@{/flows-folder/showFile/(path=${flowsDirectory.directory}, fileName=${flowsDirectory.filename})}">
                                            <i class="glyphicon glyphicon-folder-open"
                                               data-toggle="modal"
                                               data-target=".bs-example-modal-sm"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--Fin tabla-->

                            <!--Modal que Despliga Indicador de Espera-->
                            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <span style="font-size: 35px; color: #00aeef" class="fa fa-spinner fa-spin"></span>
                                            <strong>Cargando...</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Fin Modal-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>


