<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/css/uikit.min.css"/>
    <title>Coordinator Monitor</title>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3></h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="height: 50px;">
                                <h3>Coordinator Monitor
                                </h3>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="x_content">
                        <br/>

                        <div class="x_panel">
                            <div class="x_title">
                                <h3>Ingresando
                                    <small> Datos de Consulta</small>
                                </h3>
                                <!--aqui inicia Content de Formularios Ingreso Datos-->
                                <form id="demo-form3"
                                      data-parsley-validate
                                      data-th-action="@{/monitor/coordinator}"
                                      data-th-object="${filter}"
                                      method="get"
                                      class="form-horizontal form-label-left">

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Inicio
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input class="form-control" type="datetime-local"
                                                   id="startDate"
                                                   name="startDate"
                                                   data-th-field="*{startDate}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Fin
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input class="form-control" type="datetime-local"
                                                   id="endDate"
                                                   name="endDate"
                                                   data-th-field="*{endDate}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input class="form-control" type="text" id="name"
                                                   name="name"
                                                   placeholder="Nombre del flujo"
                                                   data-th-field="*{name}">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">País
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" name="country"
                                                    data-th-field="*{country}">
                                                <option data-th-value="'*'" data-th-text="'*'"></option>
                                                <option data-th-value="'GT'"
                                                        data-th-text="'GT'"></option>
                                                <option data-th-value="'SV'"
                                                        data-th-text="'SV'"></option>
                                                <option data-th-value="'NI'"
                                                        data-th-text="'NI'"></option>
                                                <option data-th-value="'CR'"
                                                        data-th-text="'CR'"></option>
                                                <option data-th-value="'PA'"
                                                        data-th-text="'PA'"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Conexión
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">

                                            <select class="form-control" name="sid"
                                                    data-th-field="*{connection}">
                                                <option data-th-value="'*'" data-th-text="'*'"></option>
                                                <option data-th-each="connection: ${getConnection}"
                                                        data-th-value="${connection.getSid()}"
                                                        data-th-text="${connection.getConnectionName()}">
                                                    Seleccione Conexión
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" name="typeFlow"
                                                    data-th-field="*{typeFlow}">
                                                <option data-th-value="'*'" data-th-text="'*'"></option>
                                                <option data-th-value="'spool'"
                                                        data-th-text="'spool'"></option>
                                                <option data-th-value="'sqoop'"
                                                        data-th-text="'sqoop'"></option>
                                                <option data-th-value="'archivo'"
                                                        data-th-text="'archivo'"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <button type="submit"
                                                    data-toggle="modal"
                                                    data-target=".bs-example-modal-sm"
                                                    class="btn btn-success">Filtrar
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!--Finaliza Formulario Consulta-->

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h3>Detalle de los Flujos
                                        </h3>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped projects">
                                            <thead>
                                            <tr>
                                                <th>nombre</th>
                                                <th>estado</th>
                                                <th>inicio</th>
                                                <th>fin</th>
                                                <th>frecuencia</th>
                                                <th>calendarizado</th>
                                            </tr>
                                            <tr th:if="${getCoordinator.isEmpty()}">
                                                <td colspan="5"> No se encontrarón resultados para esta
                                                    búsqueda.
                                                </td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-th-each="coord : ${getCoordinator}">
                                                <td data-th-text="${coord.name}"></td>
                                                <td>
                                                    <div th:switch="${coord.status}">
                                                        <p th:case="'PREP'">
                                                            <label
                                                                    class="label label-success label-xs">PREP
                                                            </label>
                                                        </p>
                                                        <p th:case="'RUNNING'">
                                                            <label
                                                                    class="label label-success label-xs">RUNNING
                                                            </label>
                                                        </p>
                                                        <p th:case="'SUSPENDED'">
                                                            <label
                                                                    class="label label-warning label-xs">SUSPENDED
                                                            </label>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td data-th-text="${coord.startDate}"></td>
                                                <td data-th-text="${coord.endDate}"></td>
                                                <td data-th-text="${coord.frequency}"></td>
                                                <td data-th-text="${coord.fNextmat}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal que Despliga Indicador de Espera-->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <span style="font-size: 35px; color: #00aeef" class="fa fa-spinner fa-spin"></span>
                    <strong>Cargando...</strong>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Modal-->
</div>

</body>
</html>

